<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Harsh Ghadiyali who currently is pursuing a btech degree in chem engg at iit kanpur. The site uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/16846.jpg">
    </div>
    
    {{>footer}}
</body>

</html>